<%= div_for(comment) do %>
	<div class="comments_wrapper clearfix col-md-12">
		<div class="pull-left">
			<p class="lead"><%= comment.body %></p>
			<p><small>Dodany <strong><%= timeago_tag comment.created_at, lang: :pl %></strong> przez <span style="color: red"><%= comment.user.name %></span></small></p>
		</div>

		<div class="btn-group pull-right">
			<% if comment.user == current_user %>
				<%= link_to 'Usuń', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
			<% end %>
		</div>
	</div>
<% end %>