<%= form_for(event, html: {class: 'form-horizontal'}) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-md-1 control-label' %>
    <div class="col-md-10"><%= f.text_field :name, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :date, class: 'col-md-1 control-label' %>
    <div class="col-md-10"><%= f.datetime_select :date, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :location, class: 'col-md-1 control-label' %>
    <div class="col-md-10"><%= f.text_field :location, class: 'form-control' %></div>
  </div>

    <%= f.hidden_field :user_id, value: current_user.id %>

  

  <div class="row">
    <div class="col-md-2 col-md-offset-5 text-center">
      <div class="actions">
        <%= f.submit "Stwórz wydarzenie", class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>