&nbsp;
&nbsp;
<div class="row">
  <div class="col-md-12">
    <h2 class="event">Spotkania przed nami</h2>
  </div>
  <% if !current_user.nil? && current_user.name == 'Michał Kaliniewicz' %>
    <div class="col-md-12 text-center">
      <%= link_to 'New Event', new_event_path, class: 'btn btn-info' %>
    </div>
  <% end %>
</div>
&nbsp;


<div class="row">
  <div class="col-md-12">
    <table class="table table-hover before">
      <thead>
        <th class="event" style="width: 15%">Data</th>
        <th class="event" style="width: 50%">Nazwa</th>
        <th class="event" style="width: 10%">Miejsce</th>
        <th class="event" style="width: 25%">Idź do</th>
      </thead>
      <% @events.each do |event| %>
      <% if event.date >= DateTime.now %>
        <tr>
          <td class="event">
            <%= event.date.strftime("%d/%m/%Y") %><br>
            <%= event.date.strftime("%R") %>
          </td>
          <td class="event">
            <%= event.name %>
          </td>
          <td class="event">
            <%= event.location %>
          </td>
          <td class="event">
            <%= link_to "Pokaż", event_path(event.id), class: 'btn btn-primary' %>
            <% if !current_user.nil? && current_user.name == 'Michał Kaliniewicz' || current_user.name == 'Szymon Tłusty' %>
              <%= link_to 'Edit', edit_event_path(event.id), class: 'btn btn-warning' %>
              <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
&nbsp;
&nbsp;
&nbsp;
<div class="row">
  <div class="col-md-12">
    <h2 class="event">Spotkania za nami</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover after">
      <thead>
        <th class="event" style="width: 15%">Data</th>
        <th class="event" style="width: 50%">Nazwa</th>
        <th class="event" style="width: 10%">Miejsce</th>
        <th class="event" style="width: 25%">Idź do</th>
      </thead>
      <% @events.each do |event| %>
      <% if event.date < DateTime.now %>
        <tr>
          <td class="event">
            <%= event.date.strftime("%d/%m/%Y") %><br>
            <%= event.date.strftime("%R") %>
          </td>
          <td class="event">
            <%= event.name %>
          </td>
          <td class="event">
            <%= event.location %>
          </td>
          <td class="event">
            <%= link_to "Pokaż", event_path(event.id), class: 'btn btn-primary' %>
            <% if !current_user.nil? && current_user.name == 'Michał Kaliniewicz' %>
              <%= link_to 'Edit', edit_event_path(event.id), class: 'btn btn-warning' %>
              <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>

