<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">Twoje Gry</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= link_to 'Stwórz nową gre', new_game_path, class: 'btn btn-success' %>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Stwórz stolik</th>
        <th>Nazwa</th>
        <th>Min ilość graczy</th>
        <th>Max ilość graczy</th>
        <th>Czas rozgrywki</th>
        <th>Język</th>
        <th>Opis</th>
        <th>Obrazek</th>
        <th colspan="3"></th>        
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= link_to 'Stwórz stolik', new_table_path(game: game.id), class: 'btn btn-warning' %></td>
          <td><%= game.name %></td>
          <td><%= game.min_players %></td>
          <td><%= game.max_players %></td>
          <td><%= game.game_time.to_s(:time) %></td>
          <td><%= game.lang %></td>
          <td><%= game.description %></td>
          <td><%= image_tag game.image_url, size: "100x100" %></td>
          <td><%= link_to 'Pokaż', game, class: 'btn btn-success' %></td>
          <td><%= link_to 'Edytuj', edit_game_path(game), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Usuń', game, method: :delete, data: { confirm: 'Usunąć?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  
</div>
