<!DOCTYPE html>
<html>
  <head>
    <title>Geek</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>jQuery.timeago.settings.lang = $('html').attr('pl')</script>
  </head>

  <body>
    <div class="container">
      <div id="row">
        <div class="col-md-2"><%= link_to "Wydarzenia", events_path, class: "btn btn-default navbar-btn btn-lg" %></div>
        <% if current_user %>
          <div class="col-md-2"><%= link_to "Moje gry", games_path, class: "btn btn-default navbar-btn btn-lg" %></div>
          <div class="col-md-4 col-md-offset-2 text-right">
            <h4>Witaj <strong><%= current_user.name %><%= image_tag current_user.image %></strong></h4>
          </div>
          <div class="col-md-2 text-left">  
            <%= link_to "Wyloguj sie", signout_path, id: "sign_out", class: 'btn btn-default navbar-btn btn-lg' %>
          </div>
        <% else %>
          <div class="col-md-4 col-md-offset-6">
          <%= link_to "Zaloguj mnie przez Facebook'a", "/auth/facebook", id: "sign_in", class: 'btn btn-default navbar-btn btn-lg' %>
          </div>
        <% end %>        
      </div>
        <%= yield %>
    </div>
  </body>
</html>
